@keyframes typing {
    0%  { 
    	transform: scale(1);  
   	}
    
    50% {
    	transform: scale(1.2);
    }
}

html,
body {
	padding: 0;
	margin: 0;
	font-size: 1em ;
	overflow: hidden;
}

* {
	box-sizing: border-box;
	font-size: 100%;
	outline: none;
}

div.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

div.content {
	flex-grow: 5;
	padding: 1em;
	overflow: auto;
	height: inherit;
}

div.content div.message {
	background: #ccc;
	border-radius: 1em;
	margin: 1em;
	float: right;
	padding: 0.75em;
	position: relative;
}

div.content div.message:after {
	content: " ";
	display: block;
	position: absolute;
	right: 2%;
	top: 100%;
	width: 0px;
	height: 0px;

	border-top   : 1em solid #CCC;
	border-right : 1em solid transparent;
	border-bottom: 1em solid transparent;
	border-left  : 1em solid transparent;


}
div.content div.message.me:after {
	left: 5%;
}
div.content div.message.me {
	float: left;
}

div.entrada {
	flex-grow: 1;
	display: flex;
	border-top: 1px solid #000;
}

div.entrada textarea {
	flex-grow: 6;
	resize: none;
	padding: 0.75em;
	border: 0 none;
}

div.entrada button {
	flex-grow: 1;
	background-image: url("images/mic.svg");
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: center;
	color: transparent;
	border: 0 none;
	border-radius: 1em
}

div.entrada button:active {
	animation: typing 1s infinite;
}

div.entrada button.animateTextSend {
	animation: typing .2s ;
}

div.entrada button.typing {
	background-image: url("images/send.svg");
	background-size : auto 80%;
}



/*@media screen and (min-width: 400px) and (max-width: 600px) {
    html,
    body {
    	background: green
    }
}*/

@media screen and (max-width: 700px) {
   div.content div.message:after {
		border-right : 0.75em solid transparent;
		border-bottom: 0.75em solid transparent;
		border-left  : 0.75em solid transparent;
		right: 4%;

    }
}
 
 @media screen and (max-width: 700px) {
   div.content div.message:after {
    	right: 5%;
	}
}

@media screen and (max-width: 320px) {
   div.container {
    	width: 320px;
	}
}